.expenses-form {
  padding: 10px;
}

.ant-form-vertical .ant-form-item {
  padding: 0px;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-calendar-picker {
  width: 100%;
}

.add-expense-form .ant-btn-primary {
  width: 100%;
}

.ant-form-explain {
  float: left;
}

@media screen and (min-width: 1224px) {
  .add-expense-form {
    border: 1px solid;
    border-color: #e8e8e8;
    margin-top: 20px;
    border-radius: 5px;
  }

  .add-expense-form h3 {
    color: rgba(0, 0, 0, 0.65);
  }
}
